<%- include('partials/header.ejs', {title: "Edit Profile"}) %>
<%- include('partials/navbar.ejs') %>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-md-8">
      <div id="signupBGpic">
  <form action="/edit?id=<%= user._id %>" method="post">
    <div class="container">
      <h1>Edit Your Profile</h1>
      
      <hr />

      <label for="fname"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="fname" value="<%= user.fname %>" required />

      <label for="lname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lname" value="<%= user.lname %>" required />

      <label for="username"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="username" value="<%= user.username %>" required />

      <div class="clearfix mt-3">
        <button type="submit" class="signupbtn mr-1" value="Submit Changes">Update</button>
      </div>
      </div>
    </form>
      <div class="container">
        <div class="row mt-5 justify-content-center">
        </div>
        <div class="col-md-8">
        </div>
      </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%- include('partials/footer.ejs') %>